<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Hoàng Long" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Hoàng Long" data-app />
  <meta property="og:title" name="og:title" content="Hoàng Long" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">





    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">

        <div class="flex-container flex-space-between">
          <div class="cell-2-12 flex_align">
            <div class="logo">
              <a href="/">
                <img src="/uploaded/logo/logo.png" alt="LogoSite"
                  style="max-width:100%; margin:0 auto"></a>
            </div>
          </div>

          <div class="cell-10-12 flex_align--end">


            <div class="menubar">
              <ul class="nav  hide-on-mobile">


                <li class=" "> <a href="/" class=""><span style="background-image:url()">Trang chủ  </span></a>
                
                
                
                
                    
                    
                    
                </li>
                <li class=" "> <a href="/gioi-thieu/" class=""><span style="background-image:url()">Giới thiệu </span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/gioi-thieu-chung-1/">Giới thiệu chung</a>
                        </li>
                        <li class=""><a href="/chien-luoc-phat-trien/">Chiến lược phát triển</a>
                        </li>
                        <li class=""><a href="/van-hoa-doanh-nghiep/">Văn hoá doanh nghiệp</a>
                        </li>
                        <li class=""><a href="/co-cau-to-chuc/">Cơ cấu tổ chức</a>
                        </li>
                        <li class=""><a href="/ban-lanh-dao/">Ban lãnh đạo</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Lĩnh vực hoạt động </span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/phat-trien-dien-nang/">Phát triển điện năng</a>
                        </li>
                        <li class=""><a href="/dau-tu-bat-dong-san/">Đầu tư Bất động sản</a>
                        </li>
                        <li class=""><a href="/dich-vu-khach-san/">Dịch vụ khách sạn</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Công ty thành viên </span></a>
                
                
                
                
                    
                    
                    
                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Tin tức - Sự kiện </span></a>
                
                
                
                
                    <ul class="submnu1">
                        <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                        </li>
                        <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=" "> <a href="/du-an-dau-tu/" class=""><span style="background-image:url()">Dự án </span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/du-an-da-thuc-hien/">Dự án đã thực hiện</a>
                        </li>
                        <li class=""><a href="/du-an-dau-tu-1/">Dự án đầu tư</a>
                        </li>
                        <li class=""><a href="/du-an-dang-thuc-hien/">Dự án đang thực hiện</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=" "> <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ </span></a>
                
                
                
                
                    
                    
                    
                </li>
                <li class=""> <a href="/tuyen-dung-1/" class=""><span style="background-image:url()">Tuyển dụng </span></a>
                
                
                
                
                    
                    
                    
                </li>
                </ul>

              <div class="c"></div>
            </div>


            <div class="lang">
              <a href="/" class="vi">VN</a>
              <a href="/en/" class="en">EN</a>
            </div>

          </div>
        </div>
      </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    









    <!-- content -->
    <div class="content">
          <!-- slideshow -->
          <div class="swiper-container" id="slide_home">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/slideshow-1.png" alt="" style="width: 100%" />
                </div>
    
              </div>
            </div>
            <div class="c"></div>
            <script>
              $(function () {
                var swiper_slide_home = new Swiper("#slide_home", {
                  loop: true,
                  slidesPerView: 1,
                  autoplay: {
                    simulateTouch: true,
                    delay: 5000000,
                    disableOnInteraction: false,
                  },
                  spaceBetween: 0,
                  navigation: {
                    nextEl: ".homeslide-prev",
                    prevEl: ".homeslide-next",
                  },
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  speed: 500,
                  spaceBetween: 0,
                });
    
                $("#slide_home").on("mouseover", function () {
                  swiper_slide_home.autoplay.stop();
                });
                $("#slide_home").on("mouseout", function () {
                  swiper_slide_home.autoplay.start();
                });
              });
            </script>
            <div class="c"></div>
          </div>
          <!-- end slideshow -->



          <!-- info -->
          <div class="homeinfo-wrapper">
            <div class="grid">
              <div class="flex-container">
                <div class="cell-1-2 tab-cell-1-1">
                  <div class="homeinfo-box">
                    <h1 class="homecat-title">
                      <a href="">
                        Hoàng Long Group
                      </a>
                    </h1>

                    <div class="homeinfo-box__intro text-line-6">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi vitae deserunt fugiat voluptate consequuntur error pariatur qui temporibus, fugit nesciunt facilis rem, quibusdam sit, atque quos tenetur architecto. Accusantium.
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit obcaecati totam debitis nostrum dolore tempore perferendis natus, modi quod ut numquam perspiciatis? Facere, eum perferendis sequi voluptas tempora optio officiis.
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus sunt nisi enim quod minima odit blanditiis, animi dicta nesciunt quia aliquid cupiditate inventore ad similique vero soluta velit neque consequatur.
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, praesentium debitis doloremque expedita nisi fuga voluptatibus saepe, ut repudiandae eius quae cupiditate, ullam magnam id rerum odit hic laboriosam quam?
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro sint quaerat a necessitatibus consectetur, praesentium atque, tenetur nostrum, deleniti aperiam vel laudantium recusandae amet fugiat culpa dolore repudiandae sequi voluptates.

                    </div>

                    <a class="view-more" href="/gioi-thieu/">Xem chi tiết</a>
                  </div>
                </div>
                <div class="cell-1-2 tab-cell-1-1">
                  <a href="">
                    <img src="/uploaded/gioi-thieu/homeinfo-1.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- end info -->



          <!-- service -->
          <div class="homeservice-wrapper" style=" background-image: url(../uploaded/pic-cat/bg_service.png);">
            <div class="grid">
              <h2 class="homecat-title--spc">
                <a href="">
                  Lĩnh vực hoạt động
                </a>
              </h2>

              <div class="line-w">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="c5"></div>
              <div class="homecat-intro">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum doloribus molestiae maiores soluta, recusandae voluptatem nostrum totam error ex iste asperiores, impedit magni, ullam qui iure expedita sit itaque cupiditate!
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="flex-container">
                <div class="cell-1-3">

                </div>
              </div>

              <div class="swiper-container" id="service_1">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="homeservice-item">
                      <a href="" class="img-shine">
                        <img src="/uploaded/dich-vu/dichvu-1.png" alt="">
                      </a>
  
                      <a href="" class="homeservice-item__name">
                        Vận chuyển siêu trường siêu trọng
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <script>
                  var swiper_service_1 = new Swiper('#service_1', {
                      slidesPerView: 3,
                      autoplay: {
                          delay: 6000,
                          disableOnInteraction: false,
                      },
                      centerInsufficientSlides:true,
                      navigation: {
                          nextEl: '.service-next_100',
                          prevEl: '.service-prev_100',
                      },
                          pagination: {
                          el: ".swiper-pagination_100",
                          clickable: true,
                          },
                      speed: 500,
                      spaceBetween: 15,
                      loop: true,
                      breakpoints: {
                          739: {
                              slidesPerView: 1.1,
                              spaceBetween: 5
                          },
                          1023: {
                              slidesPerView: 2,
                              spaceBetween: 10
                          }
                      }
                  });

              </script>


            </div>
          </div>
          <!-- end service -->



          <!-- dự án -->
          <div class="homeduan-wrapper">
            <div class="grid">
              <h2 class="homecat-title--spc">
                <a href="">
                  Dự án đầu tư
                </a>
              </h2>

              <div class="line-w line--blue">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="c5"></div>
              <div class="homecat-intro">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum doloribus molestiae maiores soluta, recusandae voluptatem nostrum totam error ex iste asperiores, impedit magni, ullam qui iure expedita sit itaque cupiditate!
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

              <div class="flex-container">
                <div class="homeduan-item">
                  <a href="">
                    <img src="/uploaded/du-an/duan1.jpg" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Dự án Cụm Công nghiệp Hợp Thắng
                      </a>
                    </h3>

                    <div class="homeduan-item__intro text-line-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis fugit corporis perspiciatis distinctio! Illo provident, ipsum, illum fuga ducimus deserunt asperiores temporibus suscipit laboriosam totam numquam velit commodi tempore!

                    </div>
                  </div>
                </div>
                
                <div class="homeduan-item">
                  <a href="">
                    <img src="/uploaded/du-an/duan1.jpg" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Dự án Cụm Công nghiệp Hợp Thắng
                      </a>
                    </h3>

                    <div class="homeduan-item__intro text-line-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis fugit corporis perspiciatis distinctio! Illo provident, ipsum, illum fuga ducimus deserunt asperiores temporibus suscipit laboriosam totam numquam velit commodi tempore!

                    </div>
                  </div>
                </div>
                <div class="homeduan-item">
                  <a href="">
                    <img src="/uploaded/du-an/duan1.jpg" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Dự án Cụm Công nghiệp Hợp Thắng
                      </a>
                    </h3>

                    <div class="homeduan-item__intro text-line-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis fugit corporis perspiciatis distinctio! Illo provident, ipsum, illum fuga ducimus deserunt asperiores temporibus suscipit laboriosam totam numquam velit commodi tempore!

                    </div>
                  </div>
                </div>
                <div class="homeduan-item">
                  <a href="">
                    <img src="/uploaded/du-an/duan1.jpg" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Dự án Cụm Công nghiệp Hợp Thắng
                      </a>
                    </h3>

                    <div class="homeduan-item__intro text-line-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis fugit corporis perspiciatis distinctio! Illo provident, ipsum, illum fuga ducimus deserunt asperiores temporibus suscipit laboriosam totam numquam velit commodi tempore!

                    </div>
                  </div>
                </div>
                <div class="homeduan-item">
                  <a href="">
                    <img src="/uploaded/du-an/duan1.jpg" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Dự án Cụm Công nghiệp Hợp Thắng
                      </a>
                    </h3>

                    <div class="homeduan-item__intro text-line-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis fugit corporis perspiciatis distinctio! Illo provident, ipsum, illum fuga ducimus deserunt asperiores temporibus suscipit laboriosam totam numquam velit commodi tempore!

                    </div>
                  </div>
                </div>
                <div class="homeduan-item">
                  <a href="">
                    <img src="/uploaded/du-an/duan1.jpg" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Dự án Cụm Công nghiệp Hợp Thắng
                      </a>
                    </h3>

                    <div class="homeduan-item__intro text-line-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis fugit corporis perspiciatis distinctio! Illo provident, ipsum, illum fuga ducimus deserunt asperiores temporibus suscipit laboriosam totam numquam velit commodi tempore!

                    </div>
                  </div>
                </div>
                <div class="homeduan-item">
                  <a href="">
                    <img src="/uploaded/du-an/duan1.jpg" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Dự án Cụm Công nghiệp Hợp Thắng
                      </a>
                    </h3>

                    <div class="homeduan-item__intro text-line-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis fugit corporis perspiciatis distinctio! Illo provident, ipsum, illum fuga ducimus deserunt asperiores temporibus suscipit laboriosam totam numquam velit commodi tempore!

                    </div>
                  </div>
                </div>
                <div class="homeduan-item">
                  <a href="">
                    <img src="/uploaded/du-an/duan1.jpg" alt="">
                  </a>
                  <div class="homeduan-mask">
                    <h3 class="homeduan-item__name">
                      <a href="">
                        Dự án Cụm Công nghiệp Hợp Thắng
                      </a>
                    </h3>

                    <div class="homeduan-item__intro text-line-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perferendis fugit corporis perspiciatis distinctio! Illo provident, ipsum, illum fuga ducimus deserunt asperiores temporibus suscipit laboriosam totam numquam velit commodi tempore!

                    </div>
                  </div>
                </div>
              </div>


              <script>
                        $('.homeduan-item').hover(function () {

                        if ($(window).width() > 100)

                            $('.homeduan-mask', this).stop().fadeIn('fast');



                        }, function () {

                            $('.homeduan-mask', this).stop().fadeOut('fast');

                        });
              </script>

            </div>
          </div>

          <!-- end dự án -->


          <!-- tin tức -->
          <div class="homenews-wrapper">
            <div class="grid">
              <h2 class="homecat-title">
                <a href="">
                  Tin tức
                </a>
              </h2>


              
              <div class="swiper-container" id="news_1">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="news-item">
                      <div class="img-page">
                        <a class="hvr-grow" href="/tin-thi-truong/sapa-duoc-cong-nhan-la-khu-du-lich-quoc-gia.html"><img src="https://hoanglonggroupvn.vn/temp/-uploaded-tin-tuc_sapa-mapjpg-1512441006817-18-18-895-1580-crop-1512441018734_cr_420x255.jpg" width="100%" alt="Sapa được công nhận là khu du lịch quốc gia"></a>
                        <div class="createdatehome">03-07-2019</div>
                      </div>
    
                      <div class="intro-bg-news">
                        <h3 class="news-name-home"><a href="/tin-thi-truong/sapa-duoc-cong-nhan-la-khu-du-lich-quoc-gia.html">Sapa được công nhận là khu du lịch quốc gia</a></h3>
                        <div class="intro-news-home">Thủ tướng yêu cầu xây dựng những cơ chế chính sách phù hợp thúc đẩy du lịch Sapa phát triển bền vững theo đúng định hướng quy hoạch đã được duyệt.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <script>
                  var swiper_news_1 = new Swiper('#news_1', {
                      slidesPerView: 3,
                      autoplay: {
                          delay: 6000,
                          disableOnInteraction: false,
                      },
                      centerInsufficientSlides:true,
                      navigation: {
                          nextEl: '.news-next_1',
                          prevEl: '.news-prev_1',
                      },
                          pagination: {
                          el: ".swiper-pagination_1",
                          clickable: true,
                          },
                      speed: 500,
                      spaceBetween: 30,
                      loop: true,
                      breakpoints: {
                          739: {
                              slidesPerView: 1,
                              spaceBetween: 5
                          },
                          1023: {
                              slidesPerView: 2,
                              spaceBetween: 10
                          }
                      }
                  });

              </script>
            </div>
          </div>
          <!-- end tin tức -->
          


          <!-- đối tác -->
          <div class="homepartner-wrapper">
            <div class="grid">
              <h2 class="homecat-title">
                <a href="">
                  Đối tác
                </a>
              </h2>
              <div class="homecat-intro">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum doloribus molestiae maiores soluta, recusandae voluptatem nostrum totam error ex iste asperiores, impedit magni, ullam qui iure expedita sit itaque cupiditate!
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </div>

            </div>
          </div>

          <!-- end đối tác -->


    </div>
    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
            <div class="cell-1-5 tab-cell-1-1">
              <div class="logo-footer">
                <img src="/uploaded/logo/logo.png" alt="">
              </div>
            </div>

            <div class="cell-2-5 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Thông tin liên hệ
                </div>
              </div>
            </div>

            <div class="cell-2-5 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Gửi liên hệ
                </div>
                <div class="footer-intro">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe maiores libero qui illum.
                </div>
                <form action="" method="post" class="sendmail__frm">

                  <input type="text" name="newsletter" class="sendmail__input" placeholder="Nhập email của bạn">

                  <button type="submit" name="addnewsletter" value="save" class="sendmail__btn">
                    <i class="fas fa-envelope"></i>
                  </button>
                </form>


                <ul class="footer-social">
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>


              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="grid">
      © Copyright 2019 Hoang Long Group. All rights reserved.
        </div>
      </div>

    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



 

  
</body>

</html>

